.logo {
  width: 187px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header {
  height: 64px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media all and (max-width: 1100px) {
  header {
    padding: 0 20px;
    height: 48px;
    line-height: 100%;
  }
  .logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 140px;
  }
}
