:root {
  /* PRIMITIVE */
  --color-blue-primary: #05003d;
  --color-blue-primary-tablet-mobile: #05003d;
  --color-grey-10: #f6f6f7;
  --color-grey-10-tablet-mobile: #f6f6f7;
  --color-white-white: #ffffff;
  --color-white-white-tablet-mobile: #ffffff;
  --color-black-black: #121212;
  --color-black-black-tablet-mobile: #000000;
  --color-red-error: #dc2626;
  --color-red-error-tablet-mobile: #dc2626;
  --font-family-font-family: "Noto Sans CJK KR";
  --font-family-font-family-tablet-mobile: "Noto Sans CJK KR";
  --letter-spacing-0: 0px;
  --letter-spacing-0-rem: 0rem;
  --letter-spacing-0-tablet-mobile: 0px;
  --letter-spacing-0-rem-tablet-mobile: 0rem;
  --color-blue-secondary: #0e61ff;
  --color-blue-secondary-tablet-mobile: #0e61ff;
  --radius-32: 32px;
  --radius-32-rem: 2rem;
  --radius-32-tablet-mobile: 16px;
  --radius-32-rem-tablet-mobile: 1rem;
  --spacing-20: 20px;
  --spacing-20-rem: 1.25rem;
  --spacing-20-tablet-mobile: 20px;
  --spacing-20-rem-tablet-mobile: 1.25rem;
  --spacing-16: 16px;
  --spacing-16-rem: 1rem;
  --spacing-16-tablet-mobile: 16px;
  --spacing-16-rem-tablet-mobile: 1rem;
  --spacing-12: 12px;
  --spacing-12-rem: 0.75rem;
  --spacing-12-tablet-mobile: 12px;
  --spacing-12-rem-tablet-mobile: 0.75rem;
  --spacing-6: 6px;
  --spacing-6-rem: 0.375rem;
  --spacing-6-tablet-mobile: 6px;
  --spacing-6-rem-tablet-mobile: 0.375rem;
  --spacing-320-margin: 320px;
  --spacing-320-margin-rem: 20rem;
  --spacing-320-margin-tablet-mobile: 20px;
  --spacing-320-margin-rem-tablet-mobile: 1.25rem;
  --spacing-24: 24px;
  --spacing-24-rem: 1.5rem;
  --spacing-24-tablet-mobile: 16px;
  --spacing-24-rem-tablet-mobile: 1rem;
  --spacing-4: 4px;
  --spacing-4-rem: 0.25rem;
  --spacing-4-tablet-mobile: 4px;
  --spacing-4-rem-tablet-mobile: 0.25rem;
  --spacing-120: 120px;
  --spacing-120-rem: 7.5rem;
  --spacing-120-tablet-mobile: 120px;
  --spacing-120-rem-tablet-mobile: 7.5rem;
  --spacing-100: 100;
  --spacing-100-tablet-mobile: 100;
  --spacing-56: 56px;
  --spacing-56-rem: 3.5rem;
  --spacing-56-tablet-mobile: 32px;
  --spacing-56-rem-tablet-mobile: 2rem;
  --spacing-28: 28px;
  --spacing-28-rem: 1.75rem;
  --spacing-28-tablet-mobile: 28px;
  --spacing-28-rem-tablet-mobile: 1.75rem;
  --spacing-64: 64px;
  --spacing-64-rem: 4rem;
  --spacing-64-tablet-mobile: 32px;
  --spacing-64-rem-tablet-mobile: 2rem;
  --spacing-48: 48px;
  --spacing-48-rem: 3rem;
  --spacing-48-tablet-mobile: 24px;
  --spacing-48-rem-tablet-mobile: 1.5rem;
  --spacing-8: 8px;
  --spacing-8-rem: 0.5rem;
  --spacing-8-tablet-mobile: 4px;
  --spacing-8-rem-tablet-mobile: 0.25rem;
  --spacing-80: 80px;
  --spacing-80-rem: 5rem;
  --spacing-80-tablet-mobile: 32px;
  --spacing-80-rem-tablet-mobile: 2rem;
  --spacing-32: 32px;
  --spacing-32-rem: 2rem;
  --spacing-32-tablet-mobile: 32px;
  --spacing-32-rem-tablet-mobile: 2rem;
  --spacing-36: 36px;
  --spacing-36-rem: 2.25rem;
  --spacing-36-tablet-mobile: 36px;
  --spacing-36-rem-tablet-mobile: 2.25rem;
  --spacing-40: 40px;
  --spacing-40-rem: 2.5rem;
  --spacing-40-tablet-mobile: 40px;
  --spacing-40-rem-tablet-mobile: 2.5rem;
  --spacing-2: 2px;
  --spacing-2-rem: 0.125rem;
  --spacing-2-tablet-mobile: 2px;
  --spacing-2-rem-tablet-mobile: 0.125rem;
  --spacing-0: 0px;
  --spacing-0-rem: 0rem;
  --spacing-0-tablet-mobile: 0px;
  --spacing-0-rem-tablet-mobile: 0rem;
  --radius-16: 16px;
  --radius-16-rem: 1rem;
  --radius-16-tablet-mobile: 8px;
  --radius-16-rem-tablet-mobile: 0.5rem;
  --radius-24: 24px;
  --radius-24-rem: 1.5rem;
  --radius-24-tablet-mobile: 16px;
  --radius-24-rem-tablet-mobile: 1rem;
  --radius-8: 8px;
  --radius-8-rem: 0.5rem;
  --radius-8-tablet-mobile: 4px;
  --radius-8-rem-tablet-mobile: 0.25rem;
  --radius-999: 999px;
  --radius-999-rem: 62.4375rem;
  --radius-999-tablet-mobile: 999px;
  --radius-999-rem-tablet-mobile: 62.4375rem;
  --font-weight-800-extra-bold: 800;
  --font-weight-800-extra-bold-tablet-mobile: 800;
  --font-weight-700-bold: 700;
  --font-weight-700-bold-tablet-mobile: 700;
  --font-weight-900-black: 900;
  --font-weight-900-black-tablet-mobile: 900;
  --font-weight-500-medium: 500;
  --font-weight-500-medium-tablet-mobile: 500;
  --font-weight-950-extra-black: 950;
  --font-weight-950-extra-black-tablet-mobile: 950;
  --font-weight-300-light: 300;
  --font-weight-300-light-tablet-mobile: 300;
  --font-weight-200-extra-light: 200;
  --font-weight-200-extra-light-tablet-mobile: 200;
  --font-weight-400-normal: 400;
  --font-weight-400-normal-tablet-mobile: 400;
  --font-weight-600-semibold: 600;
  --font-weight-600-semibold-tablet-mobile: 600;
  --font-weight-100-thin: 100;
  --font-weight-100-thin-tablet-mobile: 100;
  --font-size-800: 32px;
  --font-size-800-rem: 2rem;
  --font-size-800-tablet-mobile: 32px;
  --font-size-800-rem-tablet-mobile: 2rem;
  --font-size-700: 28px;
  --font-size-700-rem: 1.75rem;
  --font-size-700-tablet-mobile: 28px;
  --font-size-700-rem-tablet-mobile: 1.75rem;
  --font-size-600: 24px;
  --font-size-600-rem: 1.5rem;
  --font-size-600-tablet-mobile: 24px;
  --font-size-600-rem-tablet-mobile: 1.5rem;
  --font-size-350: 14px;
  --font-size-350-rem: 0.875rem;
  --font-size-350-tablet-mobile: 14px;
  --font-size-350-rem-tablet-mobile: 0.875rem;
  --font-size-400: 16px;
  --font-size-400-rem: 1rem;
  --font-size-400-tablet-mobile: 16px;
  --font-size-400-rem-tablet-mobile: 1rem;
  --font-size-1800: 72px;
  --font-size-1800-rem: 4.5rem;
  --font-size-1800-tablet-mobile: 72px;
  --font-size-1800-rem-tablet-mobile: 4.5rem;
  --font-size-1500: 60px;
  --font-size-1500-rem: 3.75rem;
  --font-size-1500-tablet-mobile: 60px;
  --font-size-1500-rem-tablet-mobile: 3.75rem;
  --font-size-450: 18px;
  --font-size-450-rem: 1.125rem;
  --font-size-450-tablet-mobile: 18px;
  --font-size-450-rem-tablet-mobile: 1.125rem;
  --font-size-900: 36px;
  --font-size-900-rem: 2.25rem;
  --font-size-900-tablet-mobile: 36px;
  --font-size-900-rem-tablet-mobile: 2.25rem;
  --font-size-1200: 48px;
  --font-size-1200-rem: 3rem;
  --font-size-1200-tablet-mobile: 48px;
  --font-size-1200-rem-tablet-mobile: 3rem;
  --font-size-500: 20px;
  --font-size-500-rem: 1.25rem;
  --font-size-500-tablet-mobile: 20px;
  --font-size-500-rem-tablet-mobile: 1.25rem;
  --font-size-300: 12px;
  --font-size-300-rem: 0.75rem;
  --font-size-300-tablet-mobile: 12px;
  --font-size-300-rem-tablet-mobile: 0.75rem;
  --font-size-1000: 40px;
  --font-size-1000-rem: 2.5rem;
  --font-size-1000-tablet-mobile: 40px;
  --font-size-1000-rem-tablet-mobile: 2.5rem;
  --font-size-250: 10px;
  --font-size-250-rem: 0.625rem;
  --font-size-250-tablet-mobile: 10px;
  --font-size-250-rem-tablet-mobile: 0.625rem;
  --line-height-1000: 40px;
  --line-height-1000-rem: 2.5rem;
  --line-height-1000-tablet-mobile: 40px;
  --line-height-1000-rem-tablet-mobile: 2.5rem;
  --line-height-700: 28px;
  --line-height-700-rem: 1.75rem;
  --line-height-700-tablet-mobile: 28px;
  --line-height-700-rem-tablet-mobile: 1.75rem;
  --line-height-800: 32px;
  --line-height-800-rem: 2rem;
  --line-height-800-tablet-mobile: 32px;
  --line-height-800-rem-tablet-mobile: 2rem;
  --line-height-600: 24px;
  --line-height-600-rem: 1.5rem;
  --line-height-600-tablet-mobile: 24px;
  --line-height-600-rem-tablet-mobile: 1.5rem;
  --line-height-550: 22px;
  --line-height-550-rem: 1.375rem;
  --line-height-550-tablet-mobile: 22px;
  --line-height-550-rem-tablet-mobile: 1.375rem;
  --line-height-350: 14px;
  --line-height-350-rem: 0.875rem;
  --line-height-350-tablet-mobile: 14px;
  --line-height-350-rem-tablet-mobile: 0.875rem;
  --line-height-500: 20px;
  --line-height-500-rem: 1.25rem;
  --line-height-500-tablet-mobile: 20px;
  --line-height-500-rem-tablet-mobile: 1.25rem;
  --line-height-2500: 84px;
  --line-height-2500-rem: 5.25rem;
  --line-height-2500-tablet-mobile: 84px;
  --line-height-2500-rem-tablet-mobile: 5.25rem;
  --line-height-1700: 68px;
  --line-height-1700-rem: 4.25rem;
  --line-height-1700-tablet-mobile: 68px;
  --line-height-1700-rem-tablet-mobile: 4.25rem;
  --line-height-900: 36px;
  --line-height-900-rem: 2.25rem;
  --line-height-900-tablet-mobile: 36px;
  --line-height-900-rem-tablet-mobile: 2.25rem;
  --line-height-1400: 56px;
  --line-height-1400-rem: 3.5rem;
  --line-height-1400-tablet-mobile: 56px;
  --line-height-1400-rem-tablet-mobile: 3.5rem;
  --line-height-1300: 52px;
  --line-height-1300-rem: 3.25rem;
  --line-height-1300-tablet-mobile: 52px;
  --line-height-1300-rem-tablet-mobile: 3.25rem;
  --line-height-450: 18px;
  --line-height-450-rem: 1.125rem;
  --line-height-450-tablet-mobile: 18px;
  --line-height-450-rem-tablet-mobile: 1.125rem;
  --line-height-1200: 48px;
  --line-height-1200-rem: 3rem;
  --line-height-1200-tablet-mobile: 48px;
  --line-height-1200-rem-tablet-mobile: 3rem;
  --line-height-400: 16px;
  --line-height-400-rem: 1rem;
  --line-height-400-tablet-mobile: 16px;
  --line-height-400-rem-tablet-mobile: 1rem;
  --line-height-2200: 78px;
  --line-height-2200-rem: 4.875rem;
  --line-height-2200-tablet-mobile: 78px;
  --line-height-2200-rem-tablet-mobile: 4.875rem;
  --color-grey-30: #a7a7b3;
  --color-grey-30-tablet-mobile: #a7a7b3;
  --color-grey-50: #504f67;
  --color-grey-50-tablet-mobile: #504f67;
  --color-grey-80: #383748;
  --color-grey-80-tablet-mobile: #383748;
  --color-grey-100: #282733;
  --color-grey-100-tablet-mobile: #282733;
  --color-grey-20: #dcdce1;
  --color-grey-20-tablet-mobile: #dcdce1;
  --color-blue-10: #eff4fd;
  --color-blue-10-tablet-mobile: #e7efff;
  --radius-0: 0px;
  --radius-0-rem: 0rem;
  --radius-0-tablet-mobile: 0px;
  --radius-0-rem-tablet-mobile: 0rem;
  --color-blue-20: #cfdfff;
  --color-blue-20-tablet-mobile: #cfdfff;
  --color-blue-30: #b7d0ff;
  --color-blue-30-tablet-mobile: #b7d0ff;
  --color-blue-70: #0b44c5;
  --color-blue-70-tablet-mobile: #0b44c5;
  --spacing-160: 160px;
  --spacing-160-rem: 10rem;
  --spacing-160-tablet-mobile: 56px;
  --spacing-160-rem-tablet-mobile: 3.5rem;
  --spacing-24-equal: 24px;
  --spacing-24-equal-rem: 1.5rem;
  --spacing-24-equal-tablet-mobile: 24px;
  --spacing-24-equal-rem-tablet-mobile: 1.5rem;
  --spacing-8-equal: 8px;
  --spacing-8-equal-rem: 0.5rem;
  --spacing-8-equal-tablet-mobile: 8px;
  --spacing-8-equal-rem-tablet-mobile: 0.5rem;

  /* SEMANTIC:TYPOGRAPHY */
  --heading-1-line-height: var(--line-height-2200);
  --heading-1-line-height-tablet-mobile: var(--line-height-900);
  --heading-1-font-size: var(--font-size-1500);
  --heading-1-font-size-tablet-mobile: var(--font-size-600);
  --font-family: var(--font-family-font-family);
  --font-family-tablet-mobile: var(--font-family-font-family);
  --heading-1-letter-spacing: var(--letter-spacing-0);
  --heading-1-letter-spacing-tablet-mobile: var(--letter-spacing-0);
  --heading-1-font-weight-700: var(--font-weight-700-bold);
  --heading-1-font-weight-700-tablet-mobile: var(--font-weight-700-bold);
  --heading-2-font-weight-700: var(--font-weight-700-bold);
  --heading-2-font-weight-700-tablet-mobile: var(--font-weight-700-bold);
  --heading-2-font-size: var(--font-size-1200);
  --heading-2-font-size-tablet-mobile: var(--font-size-600);
  --heading-2-line-height: var(--line-height-1700);
  --heading-2-line-height-tablet-mobile: var(--line-height-900);
  --heading-2-letter-spacing: var(--letter-spacing-0);
  --heading-2-letter-spacing-tablet-mobile: var(--letter-spacing-0);
  --heading-3-font-weight-700: var(--font-weight-700-bold);
  --heading-3-font-weight-700-tablet-mobile: var(--font-weight-700-bold);
  --heading-3-font-size: var(--font-size-900);
  --heading-3-font-size-tablet-mobile: var(--font-size-600);
  --heading-3-line-height: var(--line-height-1300);
  --heading-3-line-height-tablet-mobile: var(--line-height-900);
  --heading-3-letter-spacing: var(--letter-spacing-0);
  --heading-3-letter-spacing-tablet-mobile: var(--letter-spacing-0);
  --heading-2-font-weight-500: var(--font-weight-500-medium);
  --heading-2-font-weight-500-tablet-mobile: var(--font-weight-500-medium);
  --heading-4-font-weight-700: var(--font-weight-700-bold);
  --heading-4-font-weight-700-tablet-mobile: var(--font-weight-700-bold);
  --heading-4-font-size: var(--font-size-600);
  --heading-4-font-size-tablet-mobile: var(--font-size-450);
  --heading-4-line-height: var(--line-height-900);
  --heading-4-line-height-tablet-mobile: var(--line-height-700);
  --heading-4-letter-spacing: var(--letter-spacing-0);
  --heading-4-letter-spacing-tablet-mobile: var(--letter-spacing-0);
  --heading-3-font-weight-500: var(--font-weight-500-medium);
  --heading-3-font-weight-500-tablet-mobile: var(--font-weight-500-medium);
  --body_l-font-weight-500: var(--font-weight-500-medium);
  --body_l-font-weight-500-tablet-mobile: var(--font-weight-500-medium);
  --body_l-font-size: var(--font-size-450);
  --body_l-font-size-tablet-mobile: var(--font-size-400);
  --body_l-line-height: var(--line-height-700);
  --body_l-line-height-tablet-mobile: var(--line-height-600);
  --body_l-letter-spacing: var(--letter-spacing-0);
  --body_l-letter-spacing-tablet-mobile: var(--letter-spacing-0);
  --body_m-font-weight-500: var(--font-weight-500-medium);
  --body_m-font-weight-500-tablet-mobile: var(--font-weight-400-normal);
  --body_m-font-size: var(--font-size-400);
  --body_m-font-size-tablet-mobile: var(--font-size-350);
  --body_m-line-height: var(--line-height-600);
  --body_m-line-height-tablet-mobile: var(--line-height-550);
  --body_m-letter-spacing: var(--letter-spacing-0);
  --body_m-letter-spacing-tablet-mobile: var(--letter-spacing-0);
  --body_s-font-weight-500: var(--font-weight-500-medium);
  --body_s-font-weight-500-tablet-mobile: var(--font-weight-500-medium);
  --body_s-font-size: var(--font-size-350);
  --body_s-font-size-tablet-mobile: var(--font-size-350);
  --body_s-line-height: var(--line-height-550);
  --body_s-line-height-tablet-mobile: var(--line-height-550);
  --body_s-letter-spacing: var(--letter-spacing-0);
  --body_s-letter-spacing-tablet-mobile: var(--letter-spacing-0);
  --button-font-weight-700: var(--font-weight-700-bold);
  --button-font-weight-700-tablet-mobile: var(--font-weight-700-bold);
  --button-font-size: var(--font-size-450);
  --button-font-size-tablet-mobile: var(--font-size-400);
  --button-line-height: var(--line-height-700);
  --button-line-height-tablet-mobile: var(--line-height-600);
  --button-letter-spacing: var(--letter-spacing-0);
  --button-letter-spacing-tablet-mobile: var(--letter-spacing-0);
  --body_m-normal-font-weight-500: var(--font-weight-400-normal);
  --body_m-normal-font-weight-500-tablet-mobile: var(--font-weight-400-normal);
  --body_m-normal-font-size: var(--font-size-400);
  --body_m-normal-font-size-tablet-mobile: var(--font-size-400);
  --body_m-normal-line-height: var(--line-height-600);
  --body_m-normal-line-height-tablet-mobile: var(--line-height-600);
  --body_m-normal-letter-spacing: var(--letter-spacing-0);
  --body_m-normal-letter-spacing-tablet-mobile: var(--letter-spacing-0);
}
